.bg-body-nike{
    background-color: #FFF9F4;
}
.bg-body-nav{
    color: #3C3C3C;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.bg-span1{
    color: #FA804C;

}
.bg-span2{

    color: #363958;
}
.heading{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
}

/* main section casual shoes */
 /* .w-casual-img{
    width:  315px; 
    height:287px ;
    
    
    
}  */